/Air_Quality_Project_Report.docx
/backup_files.bat
/check_data.bat
/cleanup-redundant.js
/cleanup.bat
/cleanup.sh
/dump
/iiithyd_temp
/iithyd
/images
/images.zip
/install.bat
/report.pdf
/resume-1741414616052.pdf
/run.bat
/video_demonstration.mp4
/video_review.mp4